footer {
    width: 100%;
    background-color: aliceblue;

    .footer-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        font-size: 12px;
        padding: 10px;

        .footer-left {

            .footer-links {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;

                li {
                    border-right: 1px solid $primary-color;
                    padding: 0 5px;

                    a {
                        color: $primary-hover;
                    }
                }
            }
        }

        .footer-center,
        .footer-right {
            i {
                color: $primary-hover;
            }
        }
    }
}