$boder : 1px solid red;

$primary-color : #fcbf49;
$primary-hover : #f77f00;


$text-color: #000000;

$boxshadow : 1px 2px 5px rgb(0, 0, 0, .3);

$background-modal: rgb(0, 0, 0, 0.5);
$background-color: #fff;

$font-defult: clamp(12px, 2vw, 16px);